<div class="container">
  <div class="jumbotron bg-primary text-center text-white">
    <div class="row">
      <div class="col-3">
        <img src="/assets/pot.png" alt="Stew" height="100" width="100">
      </div>
      <div class="col-6">
        <h1>Put it in a stew!</h1>
      </div>
    </div>
  </div>
  <div class="row justify-content-between">
    
    <div id="before" class="card col-5 bg-success" style="width: 30rem;">
      <div class="card-body">
        <h5 class="card-title">Delicious Stew ready to eat.</h5>
        <h6 class="card-subtitle mb-2 text-muted">push button to eat</h6>
        <p class="card-text">
          <ul>
            {{#each stew}}
              {{#unless devoured}}
                {{>stew-block devour=true}}
              {{/unless}}
            {{/each}}
          </ul>
        </p>
      </div>
    </div>

    <div id = "after" class="card col-5 bg-danger" style="width: 30rem;">
      <div class="card-body">
        <h5 class="card-title">Look at all the stew you ate.</h5>
        <h6 class="card-subtitle mb-2 text-muted">push button to eat</h6>
        <p class="card-text">
          <ul>
            {{#each stew}}
              {{#if devoured}}
                {{>eaten-block devour=false}}
              {{/if}}
            {{/each}}
          </ul>
        </p>
      </div>
    </div>

  </div>
<br><br><br>

  <div class="row">
    <div class="col text-center">
      <form class="create-form">
        <div class="form-group">
          <label for="stewName">Stew Name: </label>
          <input type="text" id="stewName" name="name">
        </div>

        <button type="submit">Add This Stew</button>
      </form>
    </div>
  </div>

</div>
<br><br>
<div class="row text-center">
  <div class="col">Icons made by <a href="https://www.flaticon.com/authors/becris" title="Becris">Becris</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
</div>
